.navbaroptions {
  background-image: url(https://www.rush.edu/sites/default/files/styles/2800x1152/public/media-images/homepage_hero_1022_03.jpg?itok=5K4T9Q2S);
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  opacity: 0.9;
}